<div class="main-content">
    <h3>Добавить спортивное событие</h3>

    <div class="sidebar">
        <se-subscription></se-subscription>
    </div>

    <div class="content">
        <div class="flash-success" *ngIf="submitted && !createError">
            <span>Спасибо!</span>
        </div>
        <div class="flash-error" *ngIf="submitted && createError">
            <span>{{createError.statusText}}</span>
        </div>
        <div *ngFor="let fieldKey of getErrors()">
            <div class="flash-error"  *ngIf="formErrors[fieldKey]">
                <span>{{ formErrors[fieldKey] }}</span>
            </div>
        </div>
        <form [formGroup]="eventForm" (ngSubmit)="createEvent()" novalidate>
            <div class="single-input">
                <input [ngClass]="{'forgot': formErrors.name}" type="text" name="name" formControlName="name" value="" placeholder="Название" required>
            </div>
            <div class="single-input">
                <div class="input-search-select">
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <select class="dropdown-select" [ngClass]="{'forgot': formErrors.city}" formControlName="city">
                                <option value="" disabled selected>Выбрать город</option>
                                <option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-input">
                <input [ngClass]="{'forgot': formErrors.price}" type="text" name="name" value="" placeholder="Цена" formControlName="price">
            </div>
            <div class="single-input">
                <input [ngClass]="{'forgot': formErrors.date}" [ngModel]="momentDateValue | date: 'dd-MM-yyyy'" [(dateTimePicker)]="momentDateValue" [theme]="'#3d5260'" [locale] = "'ru'" [autoClose]="true" [pickerType]="'date'" [returnObject]=" 'moment' " [viewFormat]= "'YYYY-MM-DD'"  formControlName="date" readonly />
            </div>
            <div class="single-input">
                <input [ngModel]="momentTimeValue | date: 'HH:mm'" [(dateTimePicker)]="momentTimeValue" [theme]="'#3d5260'" [locale] = "'ru'" [autoClose]="true" [pickerType]="'time'" formControlName="time" readonly />
            </div>
            <div class="single-input">
                <div class="input-search-select">
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <select [ngClass]="{'forgot': formErrors.sport}" class="dropdown-select" formControlName="sport">
                                <option value="" disabled selected>Выбрать вид спорта</option>
                                <option *ngFor="let sport of sports" value="{{sport.id}}" >{{sport.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-input">
                <input type="text" name="name" value="" placeholder="Ссылка на событие" formControlName="webLink">
            </div>
            <div class="single-input">
                <input type="text" name="name" value="" placeholder="Ссылка на правила" formControlName="announcementWebLink">
            </div>
            <div class="single-input">
                <input type="text" name="name" value="" placeholder="Ссылка на изображение" formControlName="imageWebLink">
            </div>
            <div class="single-input-full">
                <textarea [ngClass]="{'forgot': formErrors.description}" rows="8" placeholder="Подробное описание" formControlName="description"></textarea>
            </div>
            <div class="single-input-btn">
                <button type="submit" name="button" [disabled]="!eventForm.valid">Добавить</button>
            </div>
        </form>
    </div>


</div>
