<div class="main-content">
    <h3>Create an Event</h3>

    <div class="sidebar">
        <se-subscription></se-subscription>
    </div>

    <div class="content">
        <div class="single-input">
            <input type="text" name="name" value="" placeholder="Name of the sport">
        </div>
        <div class="single-input">
            <div class="input-search-select">
                <div class="dropdown">
                    <div class="dropdown-container">
                        <p class="dropdown-button">Choose a City</p>
                        <ul class="dropdown-menu dropdown-select">
                            <li *ngFor="let city of cities">{{city.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-input">
            <input type="text" name="name" value="" placeholder="Cost">
        </div>
        <div class="single-input">
            <input type="text" id="datepicker" placeholder="Date">
        </div>
        <div class="single-input">
            <input type="text" id="timepicker-event" placeholder="Time" data-time-format="H:i:s" />

        </div>
        <div class="single-input">
            <div class="input-search-select">
                <div class="dropdown">
                    <div class="dropdown-container">
                        <p class="dropdown-button">Kind of Sport</p>
                        <ul class="dropdown-menu dropdown-select">
                            <li *ngFor="let sport of sports">{{sport.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-input">
            <input type="text" name="name" value="" placeholder="Link sport event">
        </div>
        <div class="single-input">
            <input type="text" name="name" value="" placeholder="Link position">
        </div>
        <div class="single-input">
            <input type="text" name="name" value="" placeholder="Website">
        </div>
        <div class="single-input-full">
            <textarea rows="8" placeholder="Description"></textarea>
        </div>
        <div class="single-input-btn">
            <button type="button" name="button">Create Event</button>
        </div>
    </div>

</div>
