<div class="main-content">
    <h3>Добавить спортивное событие</h3>

    <div class="sidebar">
        <se-subscription></se-subscription>
    </div>

    <div class="content">
        <div class="flash-success" *ngIf="submitted && !createError">
            <span>Спасибо!</span>
        </div>
        <div class="flash-error" *ngIf="submitted && createError">
            <span>{{createError.statusText}}</span>
        </div>
        <form [formGroup]="eventForm" (ngSubmit)="createEvent()" novalidate>
            <div class="single-input-full">
                <label for="name">Название</label>
                <input [ngClass]="{'forgot': formErrors.name}" type="text" name="name" formControlName="name" value="" placeholder="Название" required>
                <div class="flash-error"  *ngIf="formErrors.name">
                    <span>{{ formErrors.name }}</span>
                </div>
            </div>
            <div class="single-input-full">
                <label for="city">Город</label>
                 <div class="input-search-select">
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <select class="dropdown-select" formControlName="city">
                                <option value="" disabled selected>Выбрать город</option>
                                <option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-input-full">
                <label for="price">Цена</label>
                <input [ngClass]="{'forgot': formErrors.price}" type="text" name="name" value="" placeholder="Цена" formControlName="price">
                <div class="flash-error"  *ngIf="formErrors.price">
                    <span>{{ formErrors.price }}</span>
                </div>
            </div>
            <div class="single-input-full">
                <label for="date">День</label>
                <input type="date" [ngModel]="momentDateValue | date: 'dd-MM-yyyy'" [(dateTimePicker)]="momentDateValue" [theme]="'#3d5260'" [locale] = "'ru'" [autoClose]="true" [pickerType]="'date'" [returnObject]=" 'moment' " [viewFormat]= "'YYYY-MM-DD'"  formControlName="date" readonly />
            </div>
            <div class="single-input-full">
                <label for="time">Время</label>
                <input type="time" [ngModel]="momentTimeValue | date: 'HH:mm'" [(dateTimePicker)]="momentTimeValue" [theme]="'#3d5260'" [locale] = "'ru'" [autoClose]="true" [pickerType]="'time'" formControlName="time" readonly />
            </div>
            <div class="single-input-full">
                <label for="sport">Вид Спорта</label>
                <div class="input-search-select">
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <select [ngClass]="{'forgot': formErrors.sport}" class="dropdown-select" formControlName="sport">
                                <option value="" disabled selected>Выбрать вид спорта</option>
                                <option *ngFor="let sport of sports" value="{{sport.id}}" >{{sport.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flash-error"  *ngIf="formErrors.sport">
                    <span>{{ formErrors.sport }}</span>
                </div>
            </div>
            <div class="single-input-full">
                <label for="webLink">Ссылка на событие - Необязательно</label>
                <input type="url" name="name" value="" placeholder="Ссылка на событие" formControlName="webLink">
            </div>
            <div class="single-input-full">
                <label for="announcementWebLink">Ссылка на правила - Необязательно</label>
                <input type="url" name="name" value="" placeholder="Ссылка на правила" formControlName="announcementWebLink">
            </div>
            <div class="single-input-full">
                <label for="imageWebLink">Ссылка на изображение - Необязательно</label>
                <input type="url" name="name" value="" placeholder="Ссылка на изображение" formControlName="imageWebLink">
            </div>
            <div class="single-input-full">
                <label for="description">Описание</label>
                <textarea [ngClass]="{'forgot': formErrors.description}" rows="8" placeholder="Подробное описание" formControlName="description"></textarea>
                <div class="flash-error"  *ngIf="formErrors.description">
                    <span>{{ formErrors.description }}</span>
                </div>
            </div>
            <div class="single-input-btn">
                <button type="submit" name="button" [disabled]="!eventForm.valid">Добавить</button>
            </div>
        </form>
    </div>


</div>
