<div id="login">
    <div class="img-alpha">
        <div class="box-login">
            <div class="boxes">
                <div class="box box-back">
                    <a routerLink="/">
                        <img src="../assets/images/e4s.png" alt="Event4Sport" />
                    </a>
                    <h1>Error 404</h1>
                    <h2>I'm sorry, we could not find the page.</h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="signature">
            <span>© 2015&ndash;{{currentYear}} Events4Sport</span>
        </div>
    </footer>
</div>
