header {
  .social-icons {
    height    : 40px;
    background: $color-blue;
    padding: 0 2em;
    div {
      @include outer-container;
      section {
        float  : right;
        padding: 12px 0 0;
      }
    }
    a {
      text-transform: uppercase;
      margin        : 0 0.5em;
      @include transition(all 0.3s linear);
      span::before {
        content            : "";
        display            : inline-block;
        width              : 18px;
        height             : 13px;
        background         : url("../images/sprite.svg");
        background-repeat  : no-repeat;
        background-position: left top;
        background-size    : 40px 74px;
      }
      .icon-vk::before {
        background-position: -1px -3px;
      }
      .icon-youtube::before {
        background-position: -2px -21px;
      }
      .icon-twitter::before {
        background-position: -3px -40px;
      }
      .icon-facebook::before {
        background-position: -3px -58px;
      }
      &:last-child {
        color   : $color-white;
        position: relative;
      }
      &:hover {
        color: $color-blue-dark;
      }
    }
  }
  .menu {
    padding: 0 2em;
    @include outer-container;
    .logo {
      @include media(min-width 769px) {
        width  : 190px;
        padding: 10px 0;
      }
      @include media(max-width 768px) {
        width  : 190px;
        padding: 10px 0;
      }
      @include media(max-width 524px) {
        width  : 130px;
        padding: 15px 0;
      }
    }
    ul {
      @include media(max-width 524px) {
        display: none;
      }
      position  : relative;
      display   : block;
      float     : right;
      list-style: none;
      margin    : 0;
      li {
        display: inline-block;
        padding: 10px;
        a {
          color  : $color-blue;
          display: block;
          padding: 35px 0 20px 20px;
          @include transition(all .1s linear);
          &:hover {
            color: $color-blue-dark;
          }
        }
      }
    }
    .mobile-menu {
      @include media(min-width 525px) {
        display: none;
      }
      @include media(max-width 524px) {
        display: block;
      }
      width  : 10em;
      float  : right;
      padding: 2em 0 1em;
      li {
        list-style: none;
        position  : relative;
        display   : block;
        text-align: right;
        img {
          height: 3em;
          width : 5em;
          padding: 10px 0;
        }
        ul {
          display: none;
          float  : initial;
          width  : 10em;
          margin : 2.5em 0 0;
          padding: 0;
          li {
            display: block;
            padding: 0;
            a {
              padding: 0.8em;
              &:hover {
                background: $color-blue;
                color     : $color-white;
              }
            }
          }
        }
        &:hover ul {
          display: initial;
        }
      }
    }
  }
  .banner {
    position             : relative;
    height               : 200px;
    background           : url("../images/back-header.jpg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position-y: center;
    .banner-back {
      background: $color-black-alpha;
      height    : 100%;
      section {
        @include outer-container;
        text-align : center;
        color      : $color-white;
        padding-top: 2em;
        @include media(max-width 524px) {
          padding-top: 1em;
        }
        .inputs-search {
          margin: 25px 0;
          @include media(max-width 524px) {
            margin: 0;
          }
          .input-search-text {
            @include media(min-width 769px) {
              @include span-columns(3);
              @include shift(3);
            }
            @include media(max-width 768px) {
              @include span-columns(4);
              @include shift(1);
            }
            @include media(max-width 524px) {
              @include span-columns(10);
              @include shift(1);
              margin-bottom: 0.5em;
            }
          }
          .input-search-select {
            @include media(min-width 769px) {
              @include span-columns(3);
            }
            @include media(max-width 768px) {
              @include span-columns(3);
            }
            @include media(max-width 524px) {
              @include span-columns(10);
              @include shift(1);
              margin-bottom: 0.5em;
            }
          }
          .input-search-btn {
            @include media(min-width 769px) {
              @include span-columns(1);
            }
            @include media(max-width 768px) {
              @include span-columns(2);
            }
            @include media(max-width 524px) {
              @include span-columns(10);
              @include shift(1);
              margin-bottom: 0.5em;
            }
          }
        }
      }
    }
  }
}
