<router-outlet></router-outlet>

<header>

    <div class="menu">
        <a routerLink="/">
            <img class="logo" src="../assets/images/e4s.png" alt="Event4Sport" />
          </a>
        <ul>
            <li><a routerLink="/" routerLinkActive="active-nav">Home</a></li>
        </ul>
        <div class="mobile-menu">
            <li>
              <a href="#">
                <img src="../assets/images/icon-menu.svg" alt="Menu" />
              </a>
                <ul>
                    <li><a routerLink="/" routerLinkActive="active-nav">Home</a></li>
                </ul>
            </li>
        </div>
    </div>

    <div class="banner">
        <div class="banner-back">
            <section>
                <h1>Find Sport Events in Russia</h1>
            </section>
        </div>
    </div>

</header>

<router-outlet></router-outlet>

<footer>
    <div class="footer-back">
        <div class="content">
            <section></section>
            <section>
                <h5>Events4Sport</h5>
                <p>
                    Lorem ipsum dolor sit amet Consectetur adipiscing elit Vivamus quis lorem massa Proin suscipit ultrices urna Ut ullamcorper.
                </p>
            </section>
            <section>
                <h5>Contact</h5>
                <p>
                    If you have any questions, please contact us.
                    <!-- support@events4sport.com -->
                    <button type="button" name="button" class="btn-full">Send E-mail</button>
                </p>
            </section>
        </div>
    </div>
    <div class="signature">
        <span>© 2015&ndash;{{currentYear}} Events4Sport</span>
    </div>
</footer>
