<router-outlet></router-outlet>

<header>

    <div class="social-icons">
        <div>
            <section>
                <a href="#">
                    <span class="icon-vk"></span>
                </a>
                <a href="#">
                    <span class="icon-facebook"></span>
                </a>
                <a href="#">
                    <span class="icon-youtube"></span>
                </a>
                <a href="#">
                    <span class="icon-twitter"></span>
                </a>
                <a href="#">En</a>
            </section>
        </div>
    </div>

    <div class="menu">
        <a href="index.html">
            <img class="logo" src="../assets/images/e4s.png" alt="Event4Sport" />
          </a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="createevent.html">Create Event</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
        <div class="mobile-menu">
            <li>
                <a href="#">
                <img src="../assets/images/icon-menu.svg" alt="Menu" />
              </a>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="createevent.html">Create Event</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </li>
        </div>
    </div>


    <div class="banner">
        <div class="banner-back">

            <section>

                <h1>Find Sport Events in Russia</h1>

                <div class="inputs-search">
                    <div class="input-search-text">
                        <input type="text" name="name" value="" placeholder="Search for sport">
                    </div>

                    <div class="input-search-select">
                        <div class="dropdown">
                            <div class="dropdown-container">
                                <p class="dropdown-button">Choose a City</p>
                                <ul class="dropdown-menu dropdown-select">
                                    <li>Moscow</li>
                                    <li>St Petersburg</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="input-search-btn">
                        <button type="button" name="button">Search</button>
                    </div>
                </div>

            </section>

        </div>
    </div>

</header>

<!-- Return to Top -->
<a href="javascript:" id="return-to-top">
    <span></span>
</a>

<div class="main-content">

    <h3>Upcoming Events</h3>

    <div class="ad-h-tablet">
        <span>Ads (728 x 90)</span>
    </div>
    <div class="ad-h-mobile">
        <span>Ads (320 x 100)</span>
    </div>
    <!-- mobile -->
    <div class="sidebar">

        <button type="button" class="js-menu-trigger sliding-panel-button btn-full">
    <img src="../assets/images/icon-filter.svg" alt="icon filter" />
    </button>
        <nav class="js-menu sliding-panel-content">
            <div class="filters-mobile">
                <h5>Filter Events</h5>
                <label><input type="checkbox" name="checkbox" value="value">Select All</label>
                <label><input type="checkbox" name="checkbox" value="value">Running</label>
                <label><input type="checkbox" name="checkbox" value="value">Badminton<span class="badge">44</span></label>
                <label><input type="checkbox" name="checkbox" value="value">Basketball</label>
                <label><input type="checkbox" name="checkbox" value="value">Biathlon<span class="badge">54</span></label>
                <label><input type="checkbox" name="checkbox" value="value">Bowling<span class="badge">45</span></label>
                <label><input type="checkbox" name="checkbox" value="value">Cycling</label>
                <label><input type="checkbox" name="checkbox" value="value">Volleyball</label>
                <label><input type="checkbox" name="checkbox" value="value">Duathlon</label>
                <label><input type="checkbox" name="checkbox" value="value">Equestrian</label>
                <label><input type="checkbox" name="checkbox" value="value">Cross-country skiing</label>
                <label><input type="checkbox" name="checkbox" value="value">Multisport</label>
                <label><input type="checkbox" name="checkbox" value="value">Orientation</label>
                <label><input type="checkbox" name="checkbox" value="value">Ping Pong</label>
                <label><input type="checkbox" name="checkbox" value="value">Swimming</label>
                <label><input type="checkbox" name="checkbox" value="value">Tennis</label>
                <label><input type="checkbox" name="checkbox" value="value">Triathlon</label>
                <label><input type="checkbox" name="checkbox" value="value">Football</label>

                <h5>When</h5>
                <button type="button" name="button">Past Events</button>
                <button type="button" name="button">Upcoming Events</button>

                <h5>Where</h5>

                <div class="input-search-select">
                    <div class="dropdown">
                        <div class="dropdown-container">
                            <p class="dropdown-button">Choose a City</p>
                            <ul class="dropdown-menu dropdown-select">
                                <li>Moscow</li>
                                <li>St Petersburg</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <button type="button" name="button" class="btn-full">Filter</button>
            </div>
        </nav>
        <div class="js-menu-screen sliding-panel-fade-screen"></div>

        <div class="filters">
            <h5>Filter Events</h5>
            <div class="input-search-select">
                <div class="dropdown">
                    <div class="dropdown-container">
                        <p class="dropdown-button">Choose a Sport</p>
                        <ul class="dropdown-menu dropdown-select">
                            <li>Running</li>
                            <li>Badminton</li>
                            <li>Basketball</li>
                            <li>Biathlon</li>
                            <li>Bowling</li>
                            <li>Cycling</li>
                            <li>Volleyball</li>
                            <li>Duathlon</li>
                            <li>Equestrian</li>
                            <li>Cross-country skiing</li>
                            <li>Multisport</li>
                            <li>Orientation</li>
                            <li>Ping Pong</li>
                            <li>Swimming</li>
                            <li>Tennis</li>
                            <li>Triathlon</li>
                            <li>Football</li>
                        </ul>
                    </div>
                </div>
            </div>

            <h5>When</h5>
            <button type="button" name="button">Past Events</button>
            <button type="button" name="button">Upcoming Events</button>

            <h5>Where</h5>

            <div class="input-search-select">
                <div class="dropdown">
                    <div class="dropdown-container">
                        <p class="dropdown-button">Choose a City</p>
                        <ul class="dropdown-menu dropdown-select">
                            <li>Moscow</li>
                            <li>St Petersburg</li>
                        </ul>
                    </div>
                </div>
            </div>

            <button type="button" name="button" class="btn-full">Filter</button>
        </div>

        <div class="filters">
            <h5>Filter Events</h5>
            <label><input type="checkbox" name="checkbox" value="value">Select All</label>
            <label><input type="checkbox" name="checkbox" value="value">Running</label>
            <label><input type="checkbox" name="checkbox" value="value">Badminton
        <span class="badge">4</span>
    </label>

            <label>

        <input type="checkbox" name="checkbox" value="value">Basketball</label>
            <label><input type="checkbox" name="checkbox" value="value">Biathlon</label>
            <label><input type="checkbox" name="checkbox" value="value">Bowling
        <span class="badge">44</span>
    </label>

            <label><input type="checkbox" name="checkbox" value="value">Cycling</label>
            <label><input type="checkbox" name="checkbox" value="value">Volleyball</label>
            <label><input type="checkbox" name="checkbox" value="value">Duathlon
        <span class="badge">58</span>
    </label>

            <label><input type="checkbox" name="checkbox" value="value">Equestrian</label>
            <label><input type="checkbox" name="checkbox" value="value">Cross-country skiing</label>
            <label><input type="checkbox" name="checkbox" value="value">Multisport</label>
            <label><input type="checkbox" name="checkbox" value="value">Orientation</label>
            <label><input type="checkbox" name="checkbox" value="value">Ping Pong</label>
            <label><input type="checkbox" name="checkbox" value="value">Swimming</label>
            <label><input type="checkbox" name="checkbox" value="value">Tennis</label>
            <label><input type="checkbox" name="checkbox" value="value">Triathlon</label>
            <label><input type="checkbox" name="checkbox" value="value">Football</label>

            <h5>When</h5>
            <button type="button" name="button">Past Events</button>
            <button type="button" name="button">Upcoming Events</button>

            <h5>Where</h5>

            <div class="input-search-select">
                <div class="dropdown">
                    <div class="dropdown-container">
                        <p class="dropdown-button">Choose a City</p>
                        <ul class="dropdown-menu dropdown-select">
                            <li>Moscow</li>
                            <li>St Petersburg</li>
                        </ul>
                    </div>
                </div>
            </div>

            <button type="button" name="button" class="btn-full">Filter</button>
        </div>

        <div class="filters">
            <h5>Subscribe</h5>
            <p>Subscribe to new events</p>
            <input type="text" name="name" value="" placeholder="Insert your e-mail">
            <button type="button" name="button">Subscribe</button>
        </div>

        <div class="ad-vertical">
        </div>

    </div>



    <div class="content">
        <div class="ad-horizontal">
            <span>Ads (728 x 90) </span>
        </div>
        <se-event></se-event>

    </div>

</div>


<footer>
    <div class="footer-back">
        <div class="content">
            <section>
                <h5>Events4Sport</h5>
                <p>
                    Lorem ipsum dolor sit amet Consectetur adipiscing elit Vivamus quis lorem massa Proin suscipit ultrices urna Ut ullamcorper.
                </p>
            </section>
            <section>
                <h5>Create your Sport Event</h5>
                <p>
                    If you want to <a href="#">create your sport event</a> is easy. Just create your account and share more
                    events with us.
                </p>
            </section>
            <section>
                <h5>Follow us</h5>
                <p>
                    Make sure to be up-to-date with all sports event of your interests. Follow us!
                </p>
                <div class="social-icons">
                    <a href="#"><span class="icon-vk"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                </div>
            </section>
            <section>
                <h5>Contact</h5>
                <p>
                    If you have any questions, please contact us.
                    <!-- support@events4sport.com -->
                    <button type="button" name="button" class="btn-full">Send E-mail</button>
                </p>
            </section>
        </div>
    </div>
    <div class="signature">
        <span>© 2015 - Events4Sport</span>
    </div>
</footer>
