<router-outlet></router-outlet>

<header>

    <div class="social-icons">
        <div>
            <section>
                <a href="#">
                    <span class="icon-vk"></span>
                </a>
                <a href="#">
                    <span class="icon-facebook"></span>
                </a>
                <a href="#">
                    <span class="icon-youtube"></span>
                </a>
                <a href="#">
                    <span class="icon-twitter"></span>
                </a>
                <a href="#">En</a>
            </section>
        </div>
    </div>

    <div class="menu">
        <a href="index.html">
            <img class="logo" src="../assets/images/e4s.png" alt="Event4Sport" />
          </a>
        <ul>
            <li><a routerLink="/" routerLinkActive="active-nav">Home</a></li>
            <li><a routerLink="/create" routerLinkActive="active-nav">Create Event</a></li>
            <li><a routerLink="/login" routerLinkActive="active-nav">Login</a></li>
        </ul>
        <div class="mobile-menu">
            <li>
                <a href="#">
                <img src="../assets/images/icon-menu.svg" alt="Menu" />
              </a>
                <ul>
                    <li><a routerLink="/" routerLinkActive="active-nav">Home</a></li>
                    <li><a routerLink="/create" routerLinkActive="active-nav">Create Event</a></li>
                    <li><a routerLink="/login" routerLinkActive="active-nav">Login</a></li>
                </ul>
            </li>
        </div>
    </div>


    <div class="banner">
        <div class="banner-back">

            <section>

                <h1>Find Sport Events in Russia</h1>

                <div class="inputs-search">
                    <div class="input-search-text">
                        <input type="text" name="name" value="" placeholder="Search for sport">
                    </div>

                    <div class="input-search-select">
                        <div class="dropdown">
                            <div class="dropdown-container">
                                <p class="dropdown-button">Choose a City</p>
                                <ul class="dropdown-menu dropdown-select">
                                    <li>Moscow</li>
                                    <li>St Petersburg</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="input-search-btn">
                        <button type="button" name="button">Search</button>
                    </div>
                </div>

            </section>

        </div>
    </div>

</header>

<router-outlet></router-outlet>

<footer>
    <div class="footer-back">
        <div class="content">
            <section>
                <h5>Events4Sport</h5>
                <p>
                    Lorem ipsum dolor sit amet Consectetur adipiscing elit Vivamus quis lorem massa Proin suscipit ultrices urna Ut ullamcorper.
                </p>
            </section>
            <section>
                <h5>Create your Sport Event</h5>
                <p>
                    If you want to <a href="#">create your sport event</a> is easy. Just create your account and share more
                    events with us.
                </p>
            </section>
            <section>
                <h5>Follow us</h5>
                <p>
                    Make sure to be up-to-date with all sports event of your interests. Follow us!
                </p>
                <div class="social-icons">
                    <a href="#"><span class="icon-vk"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                </div>
            </section>
            <section>
                <h5>Contact</h5>
                <p>
                    If you have any questions, please contact us.
                    <!-- support@events4sport.com -->
                    <button type="button" name="button" class="btn-full">Send E-mail</button>
                </p>
            </section>
        </div>
    </div>
    <div class="signature">
        <span>© 2015 - Events4Sport</span>
    </div>
</footer>
