  <div class="main-content">
    <h3>{{ event?.name }}</h3>

    <!-- <div class="wrap-content"> -->

      <div class="sidebar">
        <se-subscription></se-subscription>
      </div>

      <div class="content">

        <div class="card-single-text">

          <div class="card">
            <div class="image sports running" [ngStyle]="{'background-image': 'url(assets/images/sports/' + event?.sport?.image + '160x160.png)'}">
              <div class="date">
                <strong>{{ event.startingDateUTC | timezoneDate: event.city.timezoneName : "Do MMMM" }}</strong>
                <br>{{ event?.startingDateUTC | date: "y" }}</div>
              <p>
                <strong>{{ event?.sport.name }}</strong>
              </p>
            </div>
            <div class="text">
              <div class="card-infos">
                <p *ngIf="event.startingDateUTC | timezoneDate: event.city.timezoneName : true">
                    <span class="icon-clock"></span>{{ event.startingDateUTC | timezoneDate: event.city.timezoneName : "HH:mm" }}
                </p>
                <p>
                  <span class="icon-map"></span>{{ event?.city.name }}
                </p>
                <p *ngIf="event?.price">
                  <span class="icon-fee"></span>{{ event.price }}
                </p>
                <p *ngIf="event?.webLink">
                    <a [href]="event.webLink">Сайт события</a>
                </p>
                <p *ngIf="event?.announcementWebLink">
                    <a [href]="event.announcementWebLink">Правила</a>
                </p>
              </div>

            </div>
          </div>

        </div>

        <h5>Описание</h5>
        <div [innerHTML]="event?.description"></div>

      </div>

    <!-- </div> -->


    <div class="related-events" *ngIf="relatedEvents?.length">
      <hr>
      <h3>Похожие события</h3>
      <div class="card-related" *ngFor="let revent of relatedEvents; trackBy: revent?.id">
        <div class="image sports running" [ngStyle]="{'background-image': 'url(assets/images/sports/' + revent.sport.image + '160x160.png)'}">
          <div class="date">
            <strong>{{ revent.startingDateUTC | timezoneDate: revent.city.timezoneName : "Do MMMM" }}</strong>
            <br>{{ revent.startingDateUTC | date: "y" }}</div>
          <p>
            <strong>{{ revent.sport.name }}</strong>
          </p>
        </div>
        <div class="text">
          <h5>{{ revent.name }}</h5>
          <p>{{ revent.description | truncate: 50 }}</p>
          <div class="card-infos">
            <p *ngIf="revent.startingDateUTC | timezoneDate: revent.city.timezoneName : true">
                <span class="icon-clock"></span>{{ revent.startingDateUTC | timezoneDate: revent.city.timezoneName : "HH:mm" }}
            </p>
            <p>
              <span class="icon-map"></span>{{ revent.city.name }}
            </p>
            <p *ngIf="revent.price">
              <span class="icon-fee"></span>{{ revent.price }}
            </p>
          </div>
          <button type="button" name="button" (click)="onDetails(revent)">Подробнее</button>
        </div>
      </div>

    </div>

  </div>
