<!-- Return to Top -->
<a href="javascript:" id="return-to-top">
    <span></span>
</a>

<div>

    <div class="card" *ngFor="let event of events">
        <div class="image sports running" [ngStyle]="{'background-image': 'url(assets/images/sports/' + event.sport.image + '160x160.png)'}">
            <div class="date">
                <strong>{{ formatDate(event.startingDateUTC, event.city.timezoneName, "DD / MMMM") }}</strong>
                <br>{{ event.startingDateUTC | date: "y" }}</div>
            <p>
                <strong>{{ event.sport.name }}</strong>
            </p>
        </div>
        <div class="text">
            <h5>{{ event.name }}</h5>
            <p>{{ event.description | truncate: 50 }}</p>
            <div class="card-infos">
                <p>
                    <span class="icon-clock"></span>{{ formatDate(event.startingDateUTC, event.city.timezoneName, "HH:mm") }}
                </p>
                <p>
                    <span class="icon-map"></span>{{ event.city.name }}
                </p>
                <p>
                    <span class="icon-fee"></span>{{ event.price || "fee" }}
                </p>
            </div>
            <button type="button" name="button" (click)="onDetails(event)">See more</button>
        </div>
    </div>

    <div class="single-index-btn" *ngIf="loadMore" style="clear: both;">
        <button type="button" name="button" class="btn-full" (click)="onLoadMore()">See all Events</button>
    </div>
    <div *ngIf="!loadMore && events && events.length == 0">
        No events to display
    </div>

</div>
