<button type="button" class="js-menu-trigger sliding-panel-button btn-full">
    <img src="../assets/images/icon-filter.svg" alt="icon filter" />
</button>
<nav class="js-menu sliding-panel-content">
    <div class="filters-mobile">
        <h5>Filter Events</h5>
        <label><input type="checkbox" name="checkbox" value="value" (click)="deselectAll()" [checked]="isDeselected()">Без фильтров</label>
        <label *ngFor="let sport of sports">
            <input type="checkbox" name="checkbox" value="{{sport.id}}" (click)="selectSport(sport.id)" [checked]="isSportSelected(sport.id)">{{sport.name}} <span class="badge" style="float:right;"*ngIf="this?.stats['sport_'+sport.id] ">{{ this?.stats['sport_'+sport.id]}}</span>
        </label>

        <h5>When</h5>
        <button type="button" name="button" (click)="selectDateInterval('past')" [ngClass]="{'btn-full': isDateSelected('past')}">Past Events</button>
        <button type="button" name="button" (click)="selectDateInterval('upcoming')" [ngClass]="{'btn-full': isDateSelected('upcoming')}">Upcoming Events</button>

        <h5>Where</h5>

        <div class="input-search-select">
            <div class="dropdown">
                <div class="dropdown-container">
                    <p class="dropdown-button">Choose a City</p>
                    <ul class="dropdown-menu dropdown-select">
                        <li *ngFor="let city of cities">{{city.name}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <button type="button" name="button" class="btn-full">Filter</button>
    </div>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>

<div class="filters">
    <h5>Filter Events</h5>
    <label><input type="checkbox" name="checkbox" value="value" (click)="deselectAll()" [checked]="isDeselected()">Без фильтров</label>
    <label *ngFor="let sport of sports">
        <input type="checkbox" name="checkbox" value="{{sport.id}}" (click)="selectSport(sport.id)" [checked]="isSportSelected(sport.id)">{{sport.name}} <span class="badge" style="float:right;" *ngIf="this?.stats['sport_'+sport.id] ">{{ this?.stats['sport_'+sport.id]}}</span>
    </label>

    <h5>When</h5>
<button type="button" name="button" (click)="selectDateInterval('past')" [ngClass]="{'btn-full': isDateSelected('past')}">Past Events</button>
    <button type="button" name="button" (click)="selectDateInterval('upcoming')" [ngClass]="{'btn-full': isDateSelected('upcoming')}">Upcoming Events</button>

    <h5>Where</h5>

    <div class="input-search-select">
        <div class="dropdown">
            <div class="dropdown-container">
                <p class="dropdown-button">Choose a City</p>
                <ul class="dropdown-menu dropdown-select">
                    <li *ngFor="let city of cities" (click)="selectCity(city.id)">{{city.name}}</li>
                </ul>
            </div>
        </div>
    </div>

</div>
