<div class="inputs-search">
    <div class="input-search-text">
        <input type="text" name="name" value="" placeholder="Search for sport">
    </div>

    <div class="input-search-select">
        <div class="dropdown">
            <div class="dropdown-container">
                <p class="dropdown-button">Choose a City</p>
                <ul class="dropdown-menu dropdown-select">
                    <li>Moscow</li>
                    <li>St Petersburg</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="input-search-btn">
        <button type="button" name="button">Search</button>
    </div>
</div>
