<div class="main-content">

    <h3>Upcoming Events</h3>

    <div class="ad-h-tablet">
        <span>Ads (728 x 90)</span>
    </div>
    <div class="ad-h-mobile">
        <span>Ads (320 x 100)</span>
    </div>
    <!-- mobile -->
    <div class="sidebar">
        <se-filter></se-filter>
        <se-subscription></se-subscription>

        <div class="ad-vertical">
        </div>

    </div>

    <div class="content">
        <div class="ad-horizontal">
            <span>Ads (728 x 90) </span>
        </div>
        <se-event></se-event>

    </div>

</div>
