//style

@import 'plugins/plugins';
@import 'base/base';
@import 'layouts/layouts';


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans/regular/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/regular/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans/regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/regular/opensans-regular-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans/light/opensans-light-webfont.eot');
    src: url('../fonts/opensans/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans/light/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans/light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
